.App {
  width: 87%;
  margin: 2em auto 0 auto;
}

.chartBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  text-align: center;
}

.chartBox__item {
  position: relative;
  background-color: #171820;
  padding: 0.5em 1em 1em 1em;
  border-radius: 10px;
}

.chartBox__big {
  width: 12em;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 90px;
}

.title:after {
  display: block;
  position: relative;
  left: 32%;
  bottom: 15px;
  width: 64%;
  content: '';
  display: block;
  height: 1px;
  background: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App {
    width: 95%;
    margin: 0.5em auto 0 auto;
  }

  .chartBox {
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .title:after {
    left: 0;
    width: 100%;
    bottom: 0;
  }

}

@media screen and (min-width: 380px) and (max-width: 767px) {
  .App {
    width: 95%;
    margin: 0.5em auto 0 auto;
  }

  .title {
    font-size: 60px;
    text-align: center;
    padding: 0;
  }

  .title:after {
    left: 0;
    width: 100%;
    bottom: 0;
  }

  .chartBox {
    gap: 1.2em;
  }

  .chartBox__item {
    max-width: 75%;
    height: 100%;
  }
}

@media screen and (max-width: 379px) {
  .App {
    width: 95%;
    margin: 0.5em auto 0 auto;
  }

  .chartBox {
    flex-direction: column;
    align-content: center;
    gap: 1em;
  }

  .chartBox__item {
    max-width: 80%;
  }

  .title {
    text-align: center;
    padding: 0;
    font-size: 28px;
  }

  .title:after {
    display: none;
  }
}